@import 'global';
@import 'vars';
@import 'fonts';

// Header

.header {
  margin-bottom: 100px;
  min-height: 670px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &-mask {
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 60px;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo {
  a:hover {
    path {
      fill: $fill;
      transition: all .3s;
    }
  }
}

.nav__links {
  li {
    display: inline-block;

    &+li {
      margin-left: 15px;
    }
  }

  a {
    text-transform: uppercase;
    color: $text-color;
    font-size: 12px;
    @include m700;
    line-height: 24px;

    &:hover {
      color: $fill;
      transition: all .3s;
    }
  }
}

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 610px;
}

.header__content {
  text-align: center;

  &-title {
    @include m700;
    font-size: 38px;
    line-height: 48px;
    color: $title-color;
    letter-spacing: 10;
    margin-bottom: 25px;
  }

  &-text {
    @include n400;
    font-size: 18px;
    line-height: 28px;
    color: $title-color;
    margin-bottom: 40px;
    max-width: 620px;
  }

  &-link {
    @include m500;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    padding: 23px 50px;
    background-color: rgba($fill, .7);

    &:hover {
      background-color: rgba($fill, 1);
      transition: all .3s;
    }
  }
}

// END header

// About US

.about {
  margin-bottom: 100px;
}

.about__inner {
  text-align: center;

  &-title {
    @include m700;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    color: $title-color;
  }

  &-text {
    @include n400;
    font-size: 16px;
    line-height: 24px;
    color: $text-color;
    max-width: 590px;
    margin: 0 auto;
    margin-bottom: 35px;
  }
}

// END about US

// Skills

.skills__inner {
  display: flex;
  justify-content: space-between;

  &-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: $bg-color;

    img {
      height: 570px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.inner__content {
  width: 500px;

  &-title {
    @include m700;
    font-size: 30px;
    color: $title-color;
  }

  &-name {
    @include m700;
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
    color: $title-color;
    margin-top: 40px;
    margin-bottom: 5px;
  }

  &-dash {
    height: 3px;
  }

  &-line {
    max-width: 500px;
    height: 3px;
    background-color: #d8d8d8;
  }
}

.skills__content {
  background-color: $fill;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 240px;
  }
}

.skills__content-box {
  color: #fff;
  padding-left: 65px;
  position: relative;

  &.projects,
  &.hour,
  &.feedback,
  &.client {
    &::before {
      content: '\e622';
      position: absolute;
      font-family: 'Pe-icon-7-stroke';
      font-size: 48px;
      left: 0;
    }
  }

  &.hour {
    &::before {
      content: '\e66b';
    }
  }

  &.feedback {
    &::before {
      content: '\e611';
    }
  }

  &.client {
    &::before {
      content: '\e642';
    }
  }
}

.box__number {
  @include m700;
  font-size: 18px;
  line-height: 30px;
}

.box__name {
  @include m500;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 30px;
}

// END Skills

// Gallery

.gallery__content {
  display: flex;
  flex-wrap: wrap;

  .image-popup,
  .gallery__image {
    display: block;
    max-width: 25%;
    height: 300px;
    overflow: hidden;
    background-color: #000;
    position: relative;

    &:hover {
      img {
        opacity: .2;
      }

      &::before {
        content: '\e63e';
        position: absolute;
        font-size: 48px;
        font-family: 'Pe-icon-7-stroke';
        color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all .3s;
  }

  .pe-7s-look {
    font-size: 48px;
    color: #fff;
  }
}

.gallery__link {
  @include m700;
  height: 100px;
  width: 100%;
  text-align: center;
  background-color: #f5f5f5;
  font-size: 12px;
  line-height: 100px;
  text-transform: uppercase;
  color: #8e8e8e;
  display: block;
  transition: all .3s;

  &:hover {
    background-color: rgba(0, 0, 0, .3);
    color: #000;
  }
}

// END gallery

// Work

.work__content {
  text-align: center;
  margin: 80px 0;

  &-title {
    @include m700;
    font-size: 30px;
    line-height: 60px;
    color: $title-color;
  }

  &-text {
    @include n400;
    font-size: 16px;
    line-height: 24px;
    color: $text-color;
    max-width: 510px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  &-video {

    a {
      max-width: 1170px;
      max-height: 570px;
      overflow: hidden;
      position: relative;

      &:hover {
        .card-img-top {
          opacity: .8;
        }
      }
    }

    .card-img-top {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .3s;
    }

    .play-arrow {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 85px;
      height: 85px;
      border-radius: 50%;
      background-color: $fill;

      svg {
        margin-top: 34px;
      }
    }
  }
}

// End work

// About work

.about-work {
  background-color: $bg-color;
}

.about-work__inner {
  padding: 30px 0 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &-box {
    max-width: 240px;
    text-align: center;
    margin-top: 60px;

    .box-logo {
      font-size: 48px;
      color: #656565;
      margin-bottom: 20px;
    }

    .box-title {
      @include m700;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 30px;
      color: $title-color;
    }

    .box-text {
      @include n400;
      font-size: 16px;
      line-height: 24px;
      color: $text-color;
    }
  }


}

// END about work

// Feedback

.feedback__slider {
  background-color: $fill;
  color: #fff;
  @include m500;
  text-align: center;
  overflow: hidden;
  padding: 150px 0 50px;

  &-text {
    font-size: 24px;
    line-height: 36px;
    width: 680px;
    margin: 0 auto;
  }

  &-name {
    margin-top: 30px;
    font-size: 12px;
    text-transform: uppercase;
  }

  .slick-dots {
    padding-top: 100px;

    .slick-active {
      button {
        width: 15px;
        height: 15px;
      }
    }

    li {
      display: inline-block;

      &+li {
        margin-left: 12px;
      }

      button {
        background-color: #fff;
        border: 0;
        padding: 0 0;
        font-size: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        outline: none;
        cursor: pointer;
      }
    }
  }
}

// END feedback

// Brand

.brand__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;

  &-box1,
  &-box5 {
    width: 89px;
    height: 65px;
  }

  &-box2 {
    width: 98px;
    height: 58px;
  }

  &-box3 {
    width: 127px;
    height: 72px;
  }

  &-box4 {
    width: 96px;
    height: 72px;
  }
}

// End brand

// Project

.project {
  background-color: $bg-color;
  padding: 100px 0;
}

.project__inner {
  text-align: center;
  margin: 0 auto;
  width: 670px;

  &-title {
    @include m700;
    font-size: 30px;
    line-height: 84px;
    color: $title-color;
  }

  &-text {
    @include n400;
    font-size: 16px;
    line-height: 24px;
    color: $text-color;
    padding-bottom: 35px;
    width: 500px;
    margin: 0 auto;
  }

  &-form {

    .title,
    textarea {
      display: block;
      width: 100%;
      border: none;
      padding: 20px;
    }

    textarea {
      height: 170px;
      resize: none;
      margin-bottom: 30px;
    }

    input {
      width: 320px;
      border: none;
      padding: 20px;
      margin-bottom: 30px;
    }

    input:first-child {
      margin-right: 26px;
    }

    button {
      @include m700;
      font-size: 12px;
      text-transform: uppercase;
      background-color: $fill;
      width: 180px;
      height: 54px;
      border: none;
      color: #fff;
      cursor: pointer;
    }
  }
}

// END project

// Footer

.footer {
  background-color: #141414;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  color: $text-color;
  padding-top: 90px;
  padding-bottom: 80px;

  a {
    color: $text-color;
    @include n400;
    font-size: 15px;
    line-height: 24px;

    &:hover {
      color: #fff;
    }
  }

  &-box-title {
    @include m700;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 50px;
  }
}

// END footer

// Home header

.header {
  &.home {
    margin-bottom: 0;
    min-height: auto;

    a.active {
      color: $fill;
    }
  }
}

// END home header

// Home content, About content

.home-content__inner,
.about-content__inner {
  padding: 70px 0 90px;
  background-color: $bg-color;
  text-align: center;

  &-title {
    @include m700;
    font-size: 38px;
    line-height: 84px;
    color: $title-color;
  }

  &-info {
    @include n400;
    font-size: 18px;
    line-height: 28px;
    color: $text-color;
    max-width: 510px;
    margin: 0 auto;
  }
}

// END home content

// Home gallery

.gallery.home {
  display: none;

  .gallery__image {
    background-color: $fill;
  }

  &.active {
    display: block;
  }
}

// END home gallery

// About content

.about-content__inner {
  background-color: $bg-color-2;

  &-title,
  &-info {
    color: #fff;
  }

}

// END about content

// Author

.author__inner {
  display: flex;
  flex-wrap: wrap;

  &-about {
    width: 50%;

    &.img {
      min-height: 570px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &.content {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      padding-left: 85px;
      background-color: $bg-color;
    }

    &-title {
      @include m700;
      font-size: 30px;
      color: $title-color;
      margin-bottom: 20px;
    }

    &-text {
      width: 460px;
      @include n400;
      font-size: 16px;
      line-height: 24px;
      color: $text-color;
      margin-bottom: 25px;
    }
  }
}

// END author

// Order

.order__inner {
  text-align: center;
  padding: 80px 0 100px;

  &-title {
    @include m700;
    font-size: 30px;
    line-height: 84px;
    color: $title-color;
    margin-bottom: 10px;
  }

  &-text {
    @include n400;
    color: $text-color;
    font-size: 16px;
    line-height: 24px;
    width: 540px;
    margin: 0 auto 30px;
  }

  &-link {
    @include m700;
    font-size: 12px;
    width: 180px;
    padding: 20px 10px;
    background-color: $fill;
    text-transform: uppercase;
    color: #fff;
  }
}

// END order

// Content

.contact {
  background-color: $bg-color;
}

.contact__inner {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;

  &-box {
    &.info {
      width: 365px;
    }

    &-title {
      @include m700;
      font-size: 30px;
      line-height: 84px;
      color: $title-color;
    }

    &-text {
      @include n400;
      font-size: 16px;
      line-height: 24px;
      color: $text-color;
      margin-bottom: 30px;
    }

    &-contact {
      @include n400;
      color: $text-color;
      font-size: 16px;
      line-height: 36px;

      span {
        @include m500;
        color: $title-color;
        padding-right: 5px;
      }
    }
  }
}

// END content

// Map

.map {
  background-color: $bg-color;

  &__content {
    padding-bottom: 100px;
  }
}

// END map

// Single project slider

.single-project {
  display: none;
}

.single-project {
  &.active {
    display: block;
  }
}

.single-project__slider {

  .slick-arrow {
    position: absolute;
    @include m700;
    font-size: 12px;
    color: $title-color;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    bottom: -61px;
    cursor: pointer;
    outline: none;
  }

  .slick-next {
    right: 90px;
    padding-right: 20px;

    &::after {
      content: '\e684';
      position: absolute;
      font-family: 'Pe-icon-7-stroke';
      font-size: 22px;
      color: $title-color;
      top: -4px;
      right: -7px;
    }
  }

  .slick-prev {
    left: 90px;
    z-index: 1;
    padding-left: 20px;

    &::before {
      content: '\e686';
      position: absolute;
      font-family: 'Pe-icon-7-stroke';
      font-size: 22px;
      color: $title-color;
      left: -7px;
      top: -4px;
    }
  }

  &-wrapper {
    display: flex !important;
  }

  &-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 90px;
    background-color: $bg-color;

    &.img {
      min-height: 570px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &-title {
      @include m700;
      color: $title-color;
      font-size: 38px;
      line-height: 84px;
    }

    &-text {
      @include n400;
      color: $text-color;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 30px;
      width: 445px;
    }

    &-info {
      @include n400;
      color: $text-color;
      font-size: 16px;
      line-height: 24px;

      span {
        @include m500;
        color: $title-color;
        padding-right: 5px;
      }
    }
  }
}

.single-project__inner-dashboard {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  cursor: pointer;
}

// END single project slider


@import 'media';